---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

#textbox {display:flex; flex-flow:row wrap; margin: 0;}

.alignleft {
  width: 33.33333%;
  text-align: left;
  margin: 0px;
}
.aligncenter {
  width: 33.33333%;
  text-align: center;
  margin: 0px;
}
.alignright {
  width: 33.33333%;
  text-align: right;
  margin: 0px;
}